html {
	min-height: 100%;
}

body, html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: relative;
	background-color: #2288B9;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
	text-align: center;
	opacity: 0;
	transition: all ease-in-out 0.3s;
}